<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        center a
        {
            text-decoration: none;
            color: black;
        }
        button
        {
            background-color: orange;
            border: none;
            width: 80px;
            height: 30px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <center>
        <h1>Registration Form</h1>
        <table>
            <tbody>
                <tr>
                    <td><label>Username:</label></td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td><label>Phno:</label></td>
                    <td><input type="text" name="" id=""></td>
                </tr>
                <tr>
                    <td><label>Hall Ticket no:</label></td>
                    <td><input type="text" name="" id=""></td>
                </tr>
            </tbody>
        </table>
        <button>
            <a href="{% url 'Dell:Phone' %}">Submit</a>
        </button>
        <br>
    </center>
</body>
</html>